body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: #00ff88;
    font-family: "Courier New", monospace;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.terminal-container {
    padding: 40px;
    backdrop-filter: blur(3px);
}

#terminal {
    white-space: pre-line;
    font-size: 16px;
    text-shadow: 0 0 5px #00ff88;
}

.input-line {
    margin-top: 10px;
}

input {
    background: transparent;
    border: none;
    color: #00ff88;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    width: 80%;
}
