body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: #00ff88;
    font-family: "Courier New", monospace;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.terminal-container {
    padding: 40px;
    backdrop-filter: blur(3px);
}

#terminal {
    white-space: pre-line;
    font-size: 16px;
    text-shadow: 0 0 5px #00ff88;
}

.input-line {
    margin-top: 10px;
}

input {
    background: transparent;
    border: none;
    color: #00ff88;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    width: 80%;
}


.top-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.top-nav button {
    background: transparent;
    border: 1px solid #00ff88;
    color: #00ff88;
    padding: 8px 14px;
    margin-left: 10px;
    cursor: pointer;
}

.page {
    display: none;
    padding: 100px 60px;
}

.page.active {
    display: block;
}

.card {
    background: rgba(0, 255, 255, 0.05);
    border: 1px solid rgba(0, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
}
